body{
    margin:0;
    padding:0;
    text-align:center;
    font-family:Arial;

    background-image:url("https://www.kduniv.ac.kr/resource/images/main/main_visual01.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
}

.overlay{
    background:rgba(255,255,255,0.6);
    min-height:100vh;
    padding-top:30px;
}

h1{
    color:darkblue;
}

nav{
    margin-bottom:30px;
}

nav a{
    text-decoration:none;
    margin:15px;
    color:black;
    font-weight:bold;
    font-size:18px;
}

.box{
    width:80%;
    max-width:500px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 10px gray;
}

input{
    width:80%;
    padding:10px;
    border-radius:5px;
    border:1px solid gray;
}

button{
    padding:10px 20px;
    background:darkblue;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
